pyproject.toml
uv.lock
databases/stops/database.db
databases/stops/fromAgency
pb_setup/gtfs_realtime_pb2.py
pb_setup/gtfs-realtime.proto
databases/stops/updated.time
webservices/__pycache__
databases/stops/db_offline.marker
__pycache__
tests/.coverage
test_databases/stops/database.db
tests/bussinFR_coverage
databases/vehicles/database.db
databases/vehicles/updated.time
databases/vehicles/*.marker
test_databases/vehicles/database.db
databases/trip_updates/database.db
databases/trip_updates/updated.time
databases/trip_updates/*.marker
test_databases/trip_updates/database.db
tests/config.json
iconFactory/output
iconFactory/stopped_bus.png
iconFactory/stop.png
iconFactory/up.png 
webpages/bussinFR_coverage
*.log
