/*
 * Cascading style sheet for the table tag.
 * If you do this in HTML :
 * <table class="center">
 * Then you get these settings.
 */

table.center {
 margin-left:auto;
 margin-right:auto;
 text-align:center;
 border-style:none;
 border-collapse:collapse;
 border: 1px solid green;
}

/*
 * Settings for table row, data and header tags, tr, td and th.
 * I set these universally, irrespective of class.
 */
tr,td,th {
 padding-top:10px;
 padding-bottom:10px;
 padding-left:10px;
 padding-right:10px;
 text-align:center;
 border: 1px solid green;
}

